GBIF_USER=your_gbif_username
GBIF_PASSWORD='your_gbif_password'
GBIF_EMAIL=your_gbif_email
EARTHDATA_USERNAME=your_nasa_earthdata_username
EARTHDATA_PASSWORD='your_nasa_earthdata_password'
PLANTAE_KEY=2519
VARS_TO_DOWNLOAD=bio1,bio12,gsl,kg2
SKIPPABLE_REBUILD_STAGES=enrich_temporal
SKIP_COL_VERNACULAR_FETCH=1
WW_DISABLE_FORECASTS=1
WW_ARCGIS_API_KEY=your_arcgis_location_platform_api_key
WHEREWILD_EXTRA_LAYERS_DIRS=/mnt/disk2/wherewild-layers