GBIF_USER=your_gbif_username
GBIF_PASSWORD='your_gbif_password'
GBIF_EMAIL=your_gbif_email
PLANTAE_KEY=2519
VARS_TO_DOWNLOAD=bio1,bio12,gsl,kg2
SKIPPABLE_REBUILD_STAGES=enrich_temporal
SKIP_COL_VERNACULAR_FETCH=1
WW_DISABLE_FORECASTS=1